<div class="room-details-page">

  <div class="room-details">
    <h1>{{ room.name }}</h1>
    <p>{{ room.pricePerNight }} $ / night</p>
    <p>Max guests: {{ room.maximumGuests }}</p>
    <p *ngIf="room.available">Available</p>
    <p *ngIf="!room.available">Not available</p>
  
    <div class="gallery" *ngIf="room.images?.length">
      <img
        *ngFor="let img of room.images"
        [src]="img.source"
        [alt]="room.name"
        class="gallery-img"
      />
    </div>
  </div>
  <app-booking-room-form [roomId]="room.id" *ngIf="room.id"></app-booking-room-form>
</div>




