<div class="filter">
  <label>Room Type:
    <select [(ngModel)]="roomTypeId">
      <option [ngValue]="null" disabled hidden>-- Select Room Type --</option>
      <option *ngFor="let type of roomTypes" [ngValue]="type.id">{{ type.name }}</option>
    </select>
  </label>
  
  <label>Max Price: {{ priceTo }} $
    <input type="range" [(ngModel)]="priceTo" min="0" max="1000" step="10">
  </label>
  
    <label> Guests:
      <select [(ngModel)]="maximumGuests">
        <option [ngValue]="null" disabled hidden>-- Select Guests --</option>
        <option *ngFor="let g of guestsOptions" [ngValue]="g">{{ g }}</option>
      </select>
    </label>
  
    <div class="date-group">
      <label class="date-label">
        <span>Check-In Date</span>
        <input type="date" [(ngModel)]="checkIn" class="date-input" />
      </label>
    
      <label class="date-label">
        <span>Check-Out Date</span>
        <input type="date" [(ngModel)]="checkOut" class="date-input" />
      </label>
    </div>
  
    <button (click)="applyFilters()">Apply Filters</button>
  </div>
  