<div class="bookingPage">
    <div *ngFor="let booking of bookingArr" class="bookingCard">
      
      <div class="room">
        <p>Room ID: {{ booking.roomID }}</p>
      </div>
  
      <div class="customer">
        <p>Customer Name: {{ booking.customerName }}</p>
        <p>Customer Phone: {{ booking.customerPhone }}</p>
      </div>
  
      <div class="check-in">
        <p>Check-in: {{ booking.checkInDate | date: 'short' }}</p>
      </div>
  
      <div class="check-out">
        <p>Check-out: {{ booking.checkOutDate | date: 'short' }}</p>
      </div>
  
      <div class="total-price">
        <p>Total Price: {{ booking.totalPrice }}</p>
      </div>
  
      <div class="room-details">
        <div class="room-image">
          <img *ngIf="roomImages[booking.roomID]" [src]="roomImages[booking.roomID]" alt="Room Image" />
          <p *ngIf="!roomImages[booking.roomID]">No image available</p>
        </div>
      </div>
  
      <div class="actions">
        <button (click)="cancelBooking(booking)">Cancel</button>
      </div>
    </div>
  </div>
  
  
  
  
  

